body {
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('images/backgrounduclmimages.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background for readability */
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: auto;
    width: 400px;

}

.logo-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    margin-bottom: 10px; /* Adjust spacing */
}

.logo {
    max-width: 100%; /* Ensure the logo fits within its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px;
}

h3 {
    margin: 0; 
    text-align: center;
    font-family: "Asap", sans-serif; /* Use Roboto font, fallback to sans-serif */
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold; /* Adjust font weight if desired */
    color: #333; /* Adjust text color */
    margin-bottom: 10px;
    background-image: linear-gradient(to right, #553c9a 45%, #ee4b2b);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
