body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #1a67da;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 70px; /* Adjust the width according to your logo size */
    height: auto;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #555;
    transition: background-color 0.3s ease;
    display: flex;
}
.logout-icon, .profile-icon {
    width: 20px; /* Adjust the width of the logout icon */
    height: 20px; /* Adjust the height of the logout icon */
    margin-right: 10px; /* Adjust the margin to create space between the image and text */
}
/* Add hover effect to buttons */
nav a:hover {
    background-color: #777;
    text-decoration: none;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    background-color: #fff;
    color: #000000;
    padding: 10px;
    height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.admin-info {
    text-align: center;
    margin-bottom: 10px;
}

.admin-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%; /* Ensure the menu takes up the full width of the sidebar */
}

.sidebar-menu li {
    margin-bottom: 5px;
}

.sidebar-menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: flex;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #1a67da;
    transition: background-color 0.3s ease;
}

.sidebar-menu img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
/* Add hover effect to sidebar links */
.sidebar-menu a:hover {
    background-color: #777;
    text-decoration: none;
}